:root {
    --primary-color: rgba(151, 71, 255, 1);
    --black-20: rgba(166, 168, 177, 1);
    --black-10: rgba(190, 192, 202, 1);
    --gray-900: rgba(15, 23, 42, 1);
    --text-colour: rgba(16, 24, 40, 1);
    --gray-500: rgba(102, 112, 133, 1);
    --white: rgba(255, 255, 255, 1);
    --gray-200: rgba(226, 232, 240, 1);
    --gray-700: rgba(51, 65, 85, 1);
    --gray-600: rgba(71, 85, 105, 1);
    --success-700: rgba(2, 122, 72, 1);
    --warning-700: rgba(181, 71, 8, 1);
    --black-4: rgba(94, 99, 102, 1);
    --text-incative-state: rgba(102, 102, 102, 0.8);
    --gray-300: rgba(208, 213, 221, 1);
    --stroke-colour: rgba(221, 225, 230, 1);
    --success-500: rgba(18, 183, 106, 1);
    --warning-500: rgba(247, 144, 9, 1);
    --black-1: rgba(207, 211, 212, 1);
    --success-50: rgba(236, 253, 243, 1);
    --warning-50: rgba(255, 250, 235, 1);
    --gray-50: rgba(249, 250, 251, 1);
    --theme-colorswhite: rgba(255, 255, 255, 1);
    --black-2: rgba(171, 175, 177, 1);
    --brand-600: rgba(127, 86, 217, 1);
    --brand-50: rgba(249, 245, 255, 1);
    --brand-700: rgba(105, 65, 198, 1);
    --brand-500: rgba(158, 119, 237, 1);
    --medium-headings-h5-font-family: "Inter-Medium", Helvetica;
    --medium-headings-h5-font-weight: 500;
    --medium-headings-h5-font-size: 16px;
    --medium-headings-h5-letter-spacing: 0px;
    --medium-headings-h5-line-height: normal;
    --medium-headings-h5-font-style: normal;
    --paragraph-1-medium-font-family: "Inter-Medium", Helvetica;
    --paragraph-1-medium-font-weight: 500;
    --paragraph-1-medium-font-size: 16px;
    --paragraph-1-medium-letter-spacing: 0px;
    --paragraph-1-medium-line-height: normal;
    --paragraph-1-medium-font-style: normal;
    --label-2-regular-font-family: "Inter-Regular", Helvetica;
    --label-2-regular-font-weight: 400;
    --label-2-regular-font-size: 11px;
    --label-2-regular-letter-spacing: 0px;
    --label-2-regular-line-height: normal;
    --label-2-regular-font-style: normal;
    --text-sm-regular-font-family: "Inter-Regular", Helvetica;
    --text-sm-regular-font-weight: 400;
    --text-sm-regular-font-size: 14px;
    --text-sm-regular-letter-spacing: 0px;
    --text-sm-regular-line-height: 20px;
    --text-sm-regular-font-style: normal;
    --text-sm-medium-font-family: "Inter-Medium", Helvetica;
    --text-sm-medium-font-weight: 500;
    --text-sm-medium-font-size: 14px;
    --text-sm-medium-letter-spacing: 0px;
    --text-sm-medium-line-height: 20px;
    --text-sm-medium-font-style: normal;
    --medium-headings-h6-font-family: "Inter-Medium", Helvetica;
    --medium-headings-h6-font-weight: 500;
    --medium-headings-h6-font-size: 14px;
    --medium-headings-h6-letter-spacing: 0px;
    --medium-headings-h6-line-height: 20px;
    --medium-headings-h6-font-style: normal;
    --text-xs-medium-font-family: "Inter-Medium", Helvetica;
    --text-xs-medium-font-weight: 500;
    --text-xs-medium-font-size: 12px;
    --text-xs-medium-letter-spacing: 0px;
    --text-xs-medium-line-height: 18px;
    --text-xs-medium-font-style: normal;
    --body-base-14px-font-family: "Inter-Regular", Helvetica;
    --body-base-14px-font-weight: 400;
    --body-base-14px-font-size: 14px;
    --body-base-14px-letter-spacing: 0px;
    --body-base-14px-line-height: 24px;
    --body-base-14px-font-style: normal;
    --input-label-font-family: "Inter-Regular", Helvetica;
    --input-label-font-weight: 400;
    --input-label-font-size: 12px;
    --input-label-letter-spacing: 0px;
    --input-label-line-height: normal;
    --input-label-font-style: normal;
    --input-placeholder-font-family: "Inter-Regular", Helvetica;
    --input-placeholder-font-weight: 400;
    --input-placeholder-font-size: 16px;
    --input-placeholder-letter-spacing: 0px;
    --input-placeholder-line-height: normal;
    --input-placeholder-font-style: normal;
    --regular-heading-h6-font-family: "Inter-Regular", Helvetica;
    --regular-heading-h6-font-weight: 400;
    --regular-heading-h6-font-size: 14px;
    --regular-heading-h6-letter-spacing: 0px;
    --regular-heading-h6-line-height: normal;
    --regular-heading-h6-font-style: normal;
    --text-sm-semibold-font-family: "Inter-SemiBold", Helvetica;
    --text-sm-semibold-font-weight: 600;
    --text-sm-semibold-font-size: 14px;
    --text-sm-semibold-letter-spacing: 0px;
    --text-sm-semibold-line-height: 20px;
    --text-sm-semibold-font-style: normal;
    --text-md-regular-font-family: "Inter-Regular", Helvetica;
    --text-md-regular-font-weight: 400;
    --text-md-regular-font-size: 16px;
    --text-md-regular-letter-spacing: 0px;
    --text-md-regular-line-height: 24px;
    --text-md-regular-font-style: normal;
    --shadow-xs: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
    --variable-collection-red: rgba(180, 35, 24, 1);
    --variable-collection-stroke: rgba(203, 213, 225, 1);
    --variable-collection-text-colour: rgba(30, 41, 59, 1);
}
